div {
  height: 50px;
  margin: 50px 0;
}

.box1 {
  background-color: red;
  /* width: calc(1000px - 200px); */
  width: calc(100% - 20%);
  box-shadow: 5px 10px 1px 1px rgba(255, 0, 0, 0.5);
}

.box2 {
  background-color: green;
  width: min(50%, 700px);
  box-shadow: -5px -10px 1px rgba(0, 0, 0, 0.5);
}

.box3 {
  background-color: blue;
  width: max(50%, 600px);
  box-shadow: 5px 10px 1px red, -5px 10px 2px blue, -15px -10px 5px green,
    10px -5px 5px pink;
}

h1 {
  text-shadow: 2px 2px 5px;
}

img {
  width: 200px;
  /* box-shadow: 4px 4px 10px; */
  filter: drop-shadow(2px 2px 10px red);
}
